* {
	font-family: 'Microsoft JhengHei';
}

body {
	padding-top: 50px;
}

a {
	color: #252626;
	margin-right: 0px;
}

a:hover {
	color: lightblue;
}

.ui.top.attached.block.header, #class_table th {
	text-align: center;
	font-family: 'Microsoft JhengHei';
	font-size: 16px;
}

#class-table {
	text-align: center !important;
}

#class-table td {
	font-size: 14px;
	word-wrap:break-word;
}

.ui.fluid.selection {
	margin-top: 5px;
}

.size-small{
	font-size: 10px !important;
}

#course-search, #course-keep, #course-now {
	background-color: #F3F4F5;
}

#now-course {
	margin-top: 0px;
}

#course-now {
	margin-top: 5px;
}

#totle-credits {
	margin-bottom: 0px;
}

.default-font {
	font-family: 'Microsoft JhengHei' !important;
}

.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

#course-search .item .button, #course-keep .item .button, #course-now .item .button {
	margin-right: 0px;
	padding: 3px 6px;
	font-family: 'Microsoft JhengHei';
}

.simple.dropdown .menu .item {
	padding: 5px 0px !important;
}

.ui.popup {
	padding: 5px 7px !important;
}

#course-keep .ui.popup .item {
	margin-left: 0px;
}

.segment#course-search, .segment#course-keep, .segment#course-now  {
	padding: 12px 8px;
}

button.circular {
	position: absolute;
	top: -5px;
	right: 5px;
	padding: 7px !important;
	margin-right: 0px !important;
}

.segment .relaxed.divided {
	margin-top: 0px !important;
}