doctype html
html(lang="en")
  head
    include ./head.jade

  body

    .ui.sidebar.inverted.vertical.menu.left.inline.icon.labeled
      a.item
        i.grid.layout.icon
        | 選課輔助
      a.item
        i.search.icon
        | 課程查詢
      a.item
        i.mail.outline.icon
        | 問題回報
      a.item#count_down_btn
        i.alarm.outline.icon
        | 選課倒數
    .pusher
      .ui.button.primary.button#menu_btn test
      .ui.grid.stackable
        .one.wide.column
        .four.wide.column
          .ui.segment
            .ui.fluid.icon.input
              input(type='text', placeholder='Search...')
              i.search.icon
            .ui.fluid.selection.dropdown#serch_type
              input(type='hidden', name='user')
              i.dropdown.icon
              .default.text Select
              .menu
                .item(value='1')
                  | 找空堂
                .item(value='2')
                  | 選通識
            .ui.divider

        .ten.wide.column
          .ui.attached.message
            .header 模擬課表
          .ui.attached.fluid.segment
            table.ui.very.basic.table#class_table
              thead
                tr
                  each val in ['一', '二', '三', '四', '五']
                    th= val
              tbody
                each i in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
                  tr
                    each j in [1, 2, 3, 4, 5]
                      td= i

        .one.wide.column


    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/semantic.min.js")
    script(src="./js/tools.js")
