extends layout
block css
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
  link(rel='stylesheet', href='./styles/bootstrap-select.min.css')
  link(rel='stylesheet/less', type='text/css', href='./styles/main.less')
  link(rel='stylesheet/less', type='text/css', href='./styles/menu.less')
  link(rel='stylesheet/less', type='text/css', href='./styles/schedule.less')
  link(rel='stylesheet/less', type='text/css', href='./styles/modal.less')
block content
  #app(v-cloak)
    include ./bookload.pug
    include ./picking_menu.pug
    include ./picking_schedule.pug
    include ./picking_modal.pug

block append js
  script(src='/js/bootstrap.min.js')
  script(src='./js/bootstrap-select.min.js')
  script(src='./js/html2canvas.js')
  script(src='./js/clipboard.js')
  script(src='./js/main.js')
