doctype html
html
  head
    title 中興選課輔助系統
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='author', content='Sakamoto')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css')
    link(rel='shortcut icon', type='image/x-icon', href='./img/icon.ico')
    block css

  body

    block content

    script(src='./js/less.js')
    script(src='./js/jquery.js')
    script(src='./js/underscore.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.9/vue.min.js')

    block js
