extends layout
block css
  link(rel='stylesheet', href='/css/bootstrap.min.css')
  link(rel='stylesheet', href='./styles/bootstrap-select.min.css')
  link(rel='stylesheet/less', type='text/css', href='./styles/new.less')
block content
  #app(v-cloak)
    include ./picking_menu.pug
    include ./picking_schedule.pug

block append js
  script(src='/js/bootstrap.min.js')
  script(src='./js/bootstrap-select.min.js')
  script(src='./js/html2canvas.js')
  script(src='./js/qrcode.js')
  script(src='./js/clipboard.js')
  script(src='./js/new.js')
