#menu
  #sidebarProfile
    img#profileImg(src='./img/pic.jpg')
    h3 Sakamoto
  #courseTab
    ul.tab-nav
      li(v-bind:class='{ active: tabView == 0 }', v-on:click='tabView = 0')
        i.fa.fa-search
      li(v-bind:class='{ active: tabView == 1 }', v-on:click='tabView = 1')
        i.fa.fa-shopping-basket
        span#keepNum.notify {{ keepCourse.length }}
      li(v-bind:class='{ active: tabView == 2 }', v-on:click='tabView = 2')
        i.fa.fa-list-ul
        span#courseNum.notify {{ pickingCourse.length }}
  #title
    h4(v-if='tabView == 0') 搜尋課程
    h4(v-if='tabView == 1') 保留課程
    h4(v-if='tabView == 2') 目前課程
  #toolTab
    #searchTab.tool-tab(v-if='tabView == 0')
      input#search-keyword.form-control(type='text', name='Item', placeholder='搜尋關鍵字')
      select#selectItem.form-control(v-model='selectItem', v-on:change='changeItem(selectItem)')
        option(value='-1', disabled) 選擇項目
        option(value='0') 學士班
        option(value='5') 進修學士班
        option(value='6') 通識
        option(value='7') 共同科目
      select#selectdDetail.form-control(v-model='selectDetail', v-on:change='changeDetail(selectdDetail)')
        option(value='-1', disabled) 選擇分類
        option(v-bind:value='dept.code', v-for='dept in detailData') {{ dept.dept }}
      select#selectdTime.form-control(v-model='selectTime', v-on:change='changeTime(selectdTime)')
        option(value='-1', disabled) 選擇時間
        option(value='0') 空堂
        option(value='1') 星期一
        option(value='2') 星期二
        option(value='3') 星期三
        option(value='4') 星期四
        option(value='5') 星期五
      #searchBtn
        i.fa.fa-search 搜尋符合項目


    #keepTab.tool-tab(v-if='tabView == 1')
      ul#keepList.course-list
        li(v-for='course in keepCourse')
          .list-item
            i.fa.fa-circle-o
          a.list-text(v-bind:href='getOnepiceUrl(course.url)', title='課程詳細資料', target='_blank')
            p.course-title {{ course.title_parsed.zh_TW }}
            p.course-detail
              span {{ course.professor }}
              span {{ course.obligatory }}
              span {{ course.credits }}學分
              span(v-if='course.location[0]') {{ course.location[0] }}
              span(v-if='course.location[1]') {{ course.location[1] }}
          .add-del(v-on:click='console.log(course.code)')
            i.fa.fa-plus
          .list-del(v-on:click='console.log(course.code)')
            i.fa.fa-times
    #nowCourseTab.tool-tab(v-if='tabView == 2')
      h2#totleCredits
        span {{ credits }}
        | 學分
      ul#nowList.course-list
        li(v-for='course in pickingCourse')
          .list-item
            i.fa.fa-circle-o
          a.list-text(v-bind:href='getOnepiceUrl(course.url)', title='課程詳細資料', target='_blank')
            p.course-title {{ course.title_parsed.zh_TW }}
            p.course-detail
              span {{ course.professor }}
              span {{ course.obligatory }}
              span {{ course.credits }}學分
              span(v-if='course.location[0]') {{ course.location[0] }}
              span(v-if='course.location[1]') {{ course.location[1] }}
          .list-del(v-on:click='console.log(course.code)')
            i.fa.fa-times
