#menu
  #sidebarProfile
    img#profileImg(src='./img/logo.png')
    h3 中興選課輔助系統
  #courseTab
    ul.tab-nav
      li(v-bind:class='{ active: tabView == 0 }', v-on:click='tabView = 0')
        i.fa.fa-search
      li(v-bind:class='{ active: tabView == 1 }', v-on:click='tabView = 1')
        i.fa.fa-shopping-basket
        span#keepNum.notify {{ keepCourse.length }}
      li(v-bind:class='{ active: tabView == 2 }', v-on:click='tabView = 2')
        i.fa.fa-list-ul
        span#courseNum.notify {{ pickingCourse.length }}
  #title
    h4(v-if='tabView == 0') 搜尋課程
    h4(v-if='tabView == 1') 保留課程
    h4(v-if='tabView == 2') 目前課程
  #toolTab
    #searchTab.tool-tab(v-if='tabView == 0')
      input#searchKeyword.form-control(type='text', name='Item', placeholder='搜尋關鍵字', v-model='searchKeyword')
      select#changeItem.form-control(v-model='searchItem')
        option(value='') 選擇項目
        option(value='0') 學士班
        option(value='5') 進修學士班
        option(value='1') 碩士班
        option(value='6') 通識
        option(value='7') 共同科目
      select#searchDetail.form-control(v-model='searchDetail', v-bind='{ disabled: searchItem == "" }')
        option(value='') 選擇分類
        option(v-for='dept in detailDropdown') {{ dept.dept }}
      select#searchTime.form-control(v-model='searchTime', v-bind='{ disabled: searchItem == -1 && searchKeyword == "" }')
        option(value='') 選擇時間
        option(value='0') 空堂
        option(value='1') 星期一
        option(value='2') 星期二
        option(value='3') 星期三
        option(value='4') 星期四
        option(value='5') 星期五
      button.btn#searchBtn(v-on:click='searchData()')
        i.fa.fa-search 搜尋符合項目
      hr
      button.clearBtn(v-on:click='clearSearch()')
        i.fa.fa-trash
        | 清除以下項目
      i.icon-loading.fa.fa-spinner.fa-pulse.fa-2x.fa-fw.margin-bottom(v-if='startSearch == true')
        span.sr-only Loading...
      ul#searchList.course-list
        li(v-for='course in searchCourse', @mouseenter='highlightSchedule(course.code, false)', @mouseleave='highlightSchedule(course.code, true)')
          .list-item
            i.fa.fa-circle-o
          a.list-text(v-bind:href='getOnepiceUrl(course.url)', title='課程詳細資料', target='_blank')
            p.course-title {{ course.title_parsed.zh_TW }}
            p.course-detail
              span {{ course.professor }}
              span {{ course.obligatory }}
              span {{ course.credits }}學分
              span(v-if='course.location[0]') {{ course.location[0] }}
              span(v-if='course.location[1]') {{ course.location[1] }}
          .list-btn.keep-btn(v-on:click='addKeep(course.code)')
            i.fa.fa-shopping-basket
          .list-btn.add-btn(v-on:click='addCourse(course.code, "search")')
            i.fa.fa-plus
          .list-btn.del-btn(v-on:click='removeCourse(course.code, "search")')
            i.fa.fa-times

    #keepTab.tool-tab(v-if='tabView == 1')
      button.clearBtn(v-on:click='clearKeep()')
        i.fa.fa-trash
        | 清除以下項目
      ul#keepList.course-list
        li(v-for='course in keepCourse', @mouseenter='highlightSchedule(course.code, false)', @mouseleave='highlightSchedule(course.code, true)')
          .list-item
            i.fa.fa-circle-o
          a.list-text(v-bind:href='getOnepiceUrl(course.url)', title='課程詳細資料', target='_blank')
            p.course-title {{ course.title_parsed.zh_TW }}
            p.course-detail
              span {{ course.professor }}
              span {{ course.obligatory }}
              span {{ course.credits }}學分
              span(v-if='course.location[0]') {{ course.location[0] }}
              span(v-if='course.location[1]') {{ course.location[1] }}
          .list-btn.add-btn(v-on:click='addCourse(course.code, "keep")')
            i.fa.fa-plus
          .list-btn.list-del(v-on:click='removeCourse(course.code, "keep")')
            i.fa.fa-times
    #nowCourseTab.tool-tab(v-if='tabView == 2')
      h2#totleCredits
        span {{ calcCredits }}
        | 學分
      button.clearBtn(v-on:click='clearCourse()')
        i.fa.fa-trash
        | 清除以下項目
      ul#nowList.course-list

        li(v-for='course in pickingCourse', @mouseenter='highlightSchedule(course.code, false)', @mouseleave='highlightSchedule(course.code, true)')
          .list-item
            i.fa.fa-circle-o
          a.list-text(v-bind:href='getOnepiceUrl(course.url)', title='課程詳細資料', target='_blank')
            p.course-title {{ course.title_parsed.zh_TW }}
            p.course-detail
              span {{ course.professor }}
              span {{ course.obligatory }}
              span {{ course.credits }}學分
              span(v-if='course.location[0]') {{ course.location[0] }}
              span(v-if='course.location[1]') {{ course.location[1] }}
          .list-btn.list-del(v-on:click='removeCourse(course.code, "now")')
            i.fa.fa-times
