#modal
  #saveSchedule.modal.fade(tabindex='-1', role='dialog')
    .modal-dialog.modal-lg(role='document')
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal') ×
          h4.modal-title
            i.fa.fa-fw.fa-download
            | 課表輸出
        .modal-body
          #uploadBlock(v-if='pickingCourse.length != 0')
            i.icon-loading.fa.fa-spinner.fa-pulse.fa-2x.fa-fw.margin-bottom(v-if='startUpload == true')
              span.sr-only Loading...
            #uploadSol(v-else)
              img#scheduleImg(v-bind:src='imgUrl')
              br
              #qrImg
                img(v-bind:src='"https://chart.googleapis.com/chart?cht=qr&chs=100x100&chl=" + imgUrl + "&chld=H|0"')
                #copyLink
                  span {{ imgUrl }}
                  button.btn.btn-default(type='button', data-clipboard-target='#copyLink span', data-toggle='popover',  data-content='copied')
                    i.fa.fa-files-o
          h3(v-else) 目前尚無選擇的課程

  #outputCourse.modal.fade(tabindex='-1', role='dialog')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal') ×
          h4.modal-title
            i.fa.fa-fw.fa-floppy-o
            | 課程代碼輸出
        .modal-body
          #outputList(v-if='pickingCourse.length != 0')
            table
              thead
                tr
                  th 課程名稱
                  th 選課代碼
                  th 課程代碼
              tbody
                tr(v-for='course in pickingCourse')
                  td {{ course.title_parsed.zh_TW }}
                  td {{ course.code }}
                  td {{ course.url }}
            p 選課時直接複製課程代碼，使用Ctrl+F方便搜尋以加快選課速度
            hr
          #quickPicking(v-if='pickingCourse.length != 0')
            h4 不保證有用的快速選課方法
              a(href='https://www.facebook.com/hashtag/%E9%9D%A0%E5%8C%97%E4%B8%AD%E8%88%8817432?source=feed_text&story_id=1461890130502589', target='_blank') 來源
            ol
              li 請在登入興大入口的情況下使用
              li 要在自己選課時段使用
              li 打別人學號不會幫人選課
              li
                | 將下列網址填寫後使用
                pre
                  code https://onepiece2.nchu.edu.tw/cofsys/plsql/enro_nomo3_dml?p_stud_no=輸入自己的學號&v_tick=課程編號&v_tick=課程編號
              li
                | 上述的課程編號不是選課號碼，要到教學大綱頁面找尋
                code v_class_nbr=xxx
                | 填入，下方有做簡易的整理

            input(type='text', placeholder='請在此處填入學號', v-model='studentID')
            pre
              code
                | https://onepiece2.nchu.edu.tw/cofsys/plsql/enro_nomo3_dml?p_stud_no={{ studentID }}
                span(v-for='course in pickingCourse')
                  | &v_tick={{ course.url }}
          h3(v-else) 目前尚無選擇的課程

  #checkClear.modal.fade(tabindex='-1', role='dialog')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal') ×
          h4.modal-title
            i.fa.fa-fw.fa-trash
            | 重置課表
        .modal-body
          p 確定刪除課表及其他內容？
          p 確定後所有欄位的內容將被清除。若要儲存請善用將課表匯出為圖片的功能。
        .modal-footer
          button.btn.btn-danger(type='button', data-dismiss='modal', v-on:click='clearAll()') 是，刪除
          button.btn(type='button', data-dismiss='modal') 否

  #warningModal.modal.fade(tabindex='-1', role='dialog')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal') ×
          h4.modal-title
            i.fa.fa-fw.fa-exclamation-triangle
            | 警告
        .modal-body
          p(v-if='warningType == 1') 關鍵字輸入請大於2個字

  #warningSearch.modal.fade(tabindex='-1', role='dialog')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal') ×
          h4.modal-title
            i.fa.fa-fw.fa-exclamation-triangle
            | 警告
        .modal-body
          p 確定僅用項目搜尋？這樣的搜尋結果會非常大量
        .modal-footer
          button.btn.btn-success(type='button', data-dismiss='modal') 是，我要繼續搜尋
          button.btn(type='button', data-dismiss='modal') 否

  #warningAdd.modal.fade(tabindex='-1', role='dialog')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal') ×
          h4.modal-title
            i.fa.fa-fw.fa-exclamation-triangle
            | 切換科系確定
        .modal-body
          p 確定要切換科系？必修的課程將會被替換
        .modal-footer
          button.btn.btn-success(type='button', data-dismiss='modal', v-on:click='changeLevel()') 是
          button.btn(type='button', data-dismiss='modal') 否

  #selfAdd.modal.fade(tabindex='-1', role='dialog')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal') ×
          h4.modal-title
            i.fa.fa-fw.fa-pencil
            | 手動新增課程
        .modal-body
          .form-group
            label
              | 課程名稱
              span *
            input.form-control(type='text', placeholder='必填欄位', v-model='selfTitle')
          .form-group
            label 教授
            input.form-control(type='text', v-model='selfProfessor')
          .form-group
            label 教室
            input.form-control(type='text', v-model='selfLocation')
          .form-group
            label 學分
            input.form-control(type='text', placeholder='預設為0學分', v-model='selfCredits')
          .form-group
            label 上課時間
            input.form-control(type='text', placeholder='ex: 312(星期三 1、2節課)，41011(星期四 10、11節課)', v-model='selfTime')
          p.warning-text 上課時間衝堂，請再確認上課時間
        .modal-footer
          button.btn.btn-success(type='button', v-on:click='addSelf()') 確定新增
