#modal
  #checkClr.modal.fade(tabindex='-1', role='dialog')
    .modal-dialog(role='document')
      .modal-content
        .modal-body
          p 確定刪除課表？
        .modal-footer
          button.btn.btn-warring(type='button', data-dismiss='modal') 是，刪除
          button.btn(type='button') 否
