transition(name='fade')
  #bookLoad(v-show='waitLoading')
    .bookshelf-wrapper
      ul.books-list
        li.book-item.first
        li.book-item.second
        li.book-item.third
        li.book-item.fourth
        li.book-item.fifth
        li.book-item.sixth
      .shelf
