extends layout
block css
  link(rel='stylesheet', type='text/css', href='/styles/main.css')
  link(rel='stylesheet', type='text/css', href='/styles/mobile.css')

  link(rel='stylesheet', type='text/css', href='/styles/menu.css')
  link(rel='stylesheet', type='text/css', href='/styles/schedule.css')
  link(rel='stylesheet', type='text/css', href='/styles/modal.css')
block content
  #app(v-cloak)
    include ./bookload.pug
    .row
      #mobileView.col-xs-12.hidden-sm.hidden-md.hidden-lg
        include ./mobile_nav.pug
        include ./mobile_schedule.pug
        include ./mobile_footer.pug
      #webView.hidden-xs.col-sm-12
        include ./picking_menu.pug
        include ./picking_schedule.pug
        include ./picking_modal.pug

block append js
  script(src='/js/libs/html2canvas.js')
  script(src='/js/libs/clipboard.js')
  script(src='/js/main.js')
