doctype html
html
  head
    title 選課中興
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='author', content='Sakamoto')
    meta(property='og:image', content='https://hsingpicking.com.tw/img/fb-sm.png')
    meta(property='og:image', content='https://hsingpicking.com.tw/img/fb-md.png')
    meta(property='og:image', content='https://hsingpicking.com.tw/img/fb-lg.png')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet', href='https://code.getmdl.io/1.3.0/material.blue_grey-light_blue.min.css')
    link(rel='stylesheet', href='/styles/bootstrap.min.css')
    link(rel='stylesheet', href='/styles/mdb.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='shortcut icon', type='image/x-icon', href='/img/icon.ico')
    link(rel='stylesheet', type='text/css', href='/styles/bookload.css')
    link(rel='stylesheet', href='/styles/toastr.min.css')
    block css

  body

    block content

    script(src='/js/libs/jquery-2.2.4.min.js')
    script(src='/js/libs/lodash.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js')
    script(src='/js/libs/bootstrap.min.js')
    script(src='/js/libs/mdb.min.js')
    script(src='https://code.getmdl.io/1.3.0/material.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.js')
    script(src='/js/libs/toastr.min.js')

    block js
