.mdl-layout.mdl-js-layout.mdl-layout--fixed-header
  header.mdl-layout__header
    .mdl-layout__header-row
      span.mdl-layout-title 中興選課輔助系統
    .mdl-layout__tab-bar.mdl-js-ripple-effect
      a.mdl-layout__tab.is-active(href='#scroll-tab-1')
        i.fa.fa-fw.fa-list-ul
        | 課表
      a.mdl-layout__tab(href='#scroll-tab-2')
        i.fa.fa-fw.fa-pencil
        | 編輯課表
      a.mdl-layout__tab(href='#scroll-tab-3')
        i.fa.fa-fw.fa-cog
        | 設定
  main.mdl-layout__content
    section#scroll-tab-1.mdl-layout__tab-panel.is-active
      .page-content
        include ./mobile_schedule.pug
    section#scroll-tab-2.mdl-layout__tab-panel
      .page-content
    section#scroll-tab-3.mdl-layout__tab-panel
      .page-content
        include ./mobile_setting.pug
        // Your content goes here