#mobile_keep
  a.add-course.btn-floating.btn-small.waves-effect.waves-light.blue.lighten-1(@click='mobileAddCourseModal')
    i.fa.fa-fw.fa-pencil
  .course(v-for='(courses, week) in scheduleWeekKeep')
    h3.week {{ week }}
    p.nocourse(v-if='courses.length === 0') 無課程保留
    ul
      li(v-for='course in courses')
        .row
          .col-xs-8
            p.title
              | (
              | {{ course.code }}
              | )
              | {{ course.title_zhTW }}
            p.info
              span.professor
                i.fa.fa-fw.fa-user
                | {{ course.professor }}
              span.location(v-show='course.location_1 !== ""')
                i.fa.fa-fw.fa-map-marker
                | {{ course.location_1 }}
                | {{ course.location_2 }}
              span.credits
                i.fa.fa-fw.fa-graduation-cap
                | {{ course.credits }}
                | 學分
          .col-xs-2
            p.time
              | {{ course.start }}
              | -
              | {{ course.end }}
        button.mdl-button.mdl-js-button.mdl-button--icon.setting-btn(@click='removeCourse(course, "keep")')
          i.fa.fa-fw.fa-times