#modal
  #saveSchedule.modal.fade(tabindex='-1', role='dialog')
    .modal-dialog.modal-lg(role='document')
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal') ×
          h4.modal-title
            i.fa.fa-fw.fa-download
            | 課表輸出
        .modal-body
          #uploadBlock(v-if='pickingCourse.length !== 0')
            i.icon-loading.fa.fa-spinner.fa-pulse.fa-2x.fa-fw.margin-bottom(v-if='startUpload == true')
              span.sr-only Loading...
            #uploadSol(v-else)
              img#scheduleImg(:src='imgUrl')
              br
              #qrImg
                img(:src='"https://chart.googleapis.com/chart?cht=qr&chs=100x100&chl=" + imgUrl + "&chld=H|0"')
                #copyLink
                  span {{ imgUrl }}
                  button.btn.btn-default(type='button', data-clipboard-target='#copyLink span', data-toggle='popover',  data-content='copied')
                    i.fa.fa-files-o
          h3(v-else) 目前尚無選擇的課程

  #outputCourse.modal.fade(tabindex='-1', role='dialog')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal') ×
          h4.modal-title
            i.fa.fa-fw.fa-floppy-o
            | 課程代碼輸出
        .modal-body
          #outputList(v-if='pickingCourse.length != 0')
            table
              thead
                tr
                  th 課程名稱
                  th 選課代碼
                  th 課程代碼
              tbody
                tr(v-for='course in pickingCourse')
                  td {{ course.title_zhTW }}
                  td {{ course.code }}
                  td {{ course.url }}
            p 選課時直接複製課程代碼，使用Ctrl+F方便搜尋以加快選課速度
          h3(v-else) 目前尚無選擇的課程

  #checkClear.modal.fade(tabindex='-1', role='dialog')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal') ×
          h4.modal-title
            i.fa.fa-fw.fa-trash
            | 重置課表
        .modal-body
          p 確定刪除課表及其他內容？
          p 確定後所有欄位的內容將被清除。若要儲存請善用將課表匯出為圖片的功能。
        .modal-footer
          button.btn.btn-danger(type='button', data-dismiss='modal', v-on:click='clearAll()') 是，刪除
          button.btn(type='button', data-dismiss='modal') 否

  #warningModal.modal.fade(tabindex='-1', role='dialog')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal') ×
          h4.modal-title
            i.fa.fa-fw.fa-exclamation-triangle
            | 警告
        .modal-body
          p(v-if='warningType == 1') 關鍵字輸入請大於2個字

  #warningSearch.modal.fade(tabindex='-1', role='dialog')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal') ×
          h4.modal-title
            i.fa.fa-fw.fa-exclamation-triangle
            | 警告
        .modal-body
          p 確定僅用項目搜尋？這樣的搜尋結果會非常大量
        .modal-footer
          button.btn.btn-success(type='button', data-dismiss='modal') 是，我要繼續搜尋
          button.btn(type='button', data-dismiss='modal') 否

  #warningAdd.modal.fade(tabindex='-1', role='dialog')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal') ×
          h4.modal-title
            i.fa.fa-fw.fa-exclamation-triangle
            | 切換科系確定
        .modal-body
          p 確定要切換科系？必修的課程將會被替換
        .modal-footer
          button.btn.btn-success(type='button', data-dismiss='modal', v-on:click='changeLevel()') 是
          button.btn(type='button', data-dismiss='modal') 否

  #selfAdd.modal.fade(tabindex='-1', role='dialog')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal') ×
          h4.modal-title
            i.fa.fa-fw.fa-pencil
            | 手動新增課程
        .modal-body
          .form-group
            label
              | 課程名稱
              span *
            input.form-control(type='text', placeholder='必填欄位', v-model='selfTitle')
          .form-group
            label 教授
            input.form-control(type='text', v-model='selfProfessor')
          .form-group
            label 教室
            input.form-control(type='text', v-model='selfLocation')
          .form-group
            label 學分
            input.form-control(type='text', placeholder='預設為0學分', v-model='selfCredits')
          .form-group
            label 上課時間
            input.form-control(type='text', placeholder='ex: 312(星期三 1、2節課)，41011(星期四 10、11節課)', v-model='selfTime')
          p.warning-text 上課時間衝堂，請再確認上課時間
        .modal-footer
          button.btn.btn-success(type='button', v-on:click='addSelf()') 確定新增

  #mobileAddCourse.modal.fade-scale(tabindex='-1', role='dialog')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal') ×
          h4.modal-title
            i.fa.fa-fw.fa-pencil
            | 新增課程
        .modal-body
          #mobileSearch
            #filterBlock
              input#searchKeyword.form-control(type='text', name='Item', placeholder='搜尋關鍵字', v-model='searchKeyword', @keyup.enter='searchCourseData')
              select#changeItemMobi.form-control(v-model='searchItem')
                option(value='') 選擇項目
                option(value='0') 學士班
                option(value='5') 進修學士班
                option(value='6') 通識
                option(value='7') 共同科目
              select#searchDetailMobi.form-control(v-model='searchDetail', v-bind='{ disabled: searchItem === "" }')
                option(value='') 選擇分類
                option(v-for='dept in detailDropdown', :value='dept.code') {{ dept.dept }}
              select#searchTimeMobi.form-control(v-model='searchTime', v-bind='{ disabled: searchItem === -1 && searchKeyword === "" }')
                option(value='') 選擇時間
                option(value='0') 空堂
                option(value='1') 星期一
                option(value='2') 星期二
                option(value='3') 星期三
                option(value='4') 星期四
                option(value='5') 星期五
              a#searchBtnMobi.btn.waves-effect(@click='searchCourseData()')
                i.fa.fa-search
                  span 搜尋符合項目
            i.icon-loading.fa.fa-spinner.fa-pulse.fa-2x.fa-fw.margin-bottom(v-if='startSearch === true')
               span.sr-only Loading...
            .course
              ul
                li(v-for='course in searchCourse')
                  .row
                    .col-xs-8
                      p.title
                        | (
                        | {{ course.code }}
                        | )
                        | {{ course.title_zhTW }}
                      p.info
                        span.professor
                          i.fa.fa-fw.fa-user
                          | {{ course.professor }}
                        span.time
                          i.fa.fa-fw.fa-clock-o
                          | {{ course.time_1 }}
                          | {{ course.time_2 }}
                        span.location(v-show='course.location_1 !== ""')
                          i.fa.fa-fw.fa-map-marker
                          | {{ course.location_1 }}
                          | {{ course.location_2 }}
                        span.credits
                          i.fa.fa-fw.fa-graduation-cap
                          | {{ course.credits }}
                          | 學分
                    .col-xs-2
                      button.mdl-button.mdl-js-button.mdl-button--icon.setting-btn.keep-btn(@click='addKeep(course)')
                        i.fa.fa-shopping-basket
                    .col-xs-2
                      button.mdl-button.mdl-js-button.mdl-button--icon.setting-btn.add-btn(@click='addCourse(course, "search")')
                        i.fa.fa-plus
                        