#modal {
  button {
    border-radius: 0px;
  }
  .modal-content {
    border-radius: 0px;
    background-color: #eee;
  }
  .form-control {
    border-color: #777;
  }
  .form-group span {
    color: #ef3030;
  }
  #outputCourse {
    p {
      text-align: right;
      color: #666;
    }
    hr {
      border-top: 1px solid #777;
    }
    a {
      color: #337ab7;
      text-decoration: none;
      margin-left: 5px;
    }
    h3 {
      margin-top: 0px;
    }
  }
  #outputList {
    span {
      margin-left: 5px;
    }
    table {
      width: 100%;
    }
    th {
      text-align: center;
      &:first-child {
        text-align: left;;
      }
    }
    tr {
      td {
        text-align: center;
        &:first-child {
          text-align: left;;
        }
      }
    }
  }
  #quickPicking {
    input {
      margin-bottom: 5px;
    }
  }
  .input-group {
    input {
      border-color: #ccc;
    }
    button {
      border-radius: 0px;
    }
  }
  #saveSchedule {
    #scheduleImg {
      width: 100%;
      display: block;
      margin: 5px auto 0px;
    }
    #qrImg {
      display: flex;
      align-items: flex-end;
    }
  }
  #copyLink {
    margin-left: 5px;
    span {
      background-color: #fff;
      border: 1px solid #ccc;
      padding: 5px 10px 7px;
    }
    button {
      border-color: #ccc;
      border-radius: 0px;
      height: 31px;
      margin-left: -1px;
    }
  }
}
