#modal {
  .modal-content {
    border-radius: 0px;
    background-color: #eee;
  }
  #outputCourse {
    p {
      text-align: right;
      color: #666;
    }
    h3 {
      margin-top: 0px;
    }
  }
  #checkClear {
    button {
      border-radius: 0px;
    }
  }
  .input-group {
    input {
      border-color: #ccc;
    }
    button {
      border-radius: 0px;
    }
  }
  #saveSchedule {
    #scheduleImg {
      max-width: 568px;
      width: 100%;
      display: block;
      margin: 5px auto 0px;
    }
    #qrImg {
      display: flex;
      align-items: flex-end;
    }
  }
  #copyLink {
    margin-left: 5px;
    span {
      border: 1px solid #ccc;
      padding: 5px 10px 7px;
    }
    button {
      border-color: #ccc;
      border-radius: 0px;
      height: 31px;
      margin-left: -1px;
    }
  }
}
