@mainColorDark: #29434e;
@mainColor: #546e7a;
@mainColorLight: #819ca9;
@fontColor1: #ffffff;
@fontColor2: #757575;

#mobileView {
  background-color: #f5f6f7;
  position: relative;
  z-index: 1;

  .mdl-layout__content {
    padding: 0px 8px;
  }
  .mdl-layout__header-row {
    padding: 0px 36px;
    position: relative;
  }
  .mobile-addcourse {
    position: absolute;
    right: 15px;
    i.fa {
      font-size: 0.8em;
    }
  }
  .mdl-layout__tab-bar {
    padding: 0px;
    margin: 0px;
    width: 100%;
  }
  .mdl-layout__tab-bar-button {
    display: none;
  }

  .mdl-layout__tab {
    width: 33%;
    &:hover {
      color: @fontColor1;
    }
    i.fa {
      font-size: 1.4em;
    }
  }

  .form-control {
    border-radius: 0;
    box-shadow: none;
    font-weight: 400;
    background: none;
    border-color: #747474;
    color: #666;
    margin-bottom: 5px;
    &:focus {
      box-shadow: none;
    }
    &[disabled='disabled'] {
      background-color: #ccc !important;
    }
  }
  .add-course {
    position: fixed;
    bottom: 0;
    right: 0;
  }
  #mobile_schedule, #mobile_keep {
    width: 100%;
    
    .nocourse {
      color: #333333;
      text-align: center;
      border-bottom: 1px #d4d4d4 solid;
    }
    .course {
      ul {
        padding: 0px;
      }
      li {
        position: relative;

        list-style: none;
        border-bottom: 1px #d4d4d4 solid;
        padding: 5px 10px;
      }
      .row {
        width: 100%;
        
        align-items: center;
        display: flex;
        .col-xs-2 {
          padding: 0px;
        }
      }
      .setting-btn {
        position: absolute;
        top: 0px;
        right: 5px;
        color: @fontColor2;
        font-size: 1em;
        &:hover, &:focus {
          color: @mainColor;
        }
      }
      .info {
        span {
          padding-right: 5px;
          font-size: 0.9em;
          color: @fontColor2;
        }
      }
      .week {
        margin: 20px 10px 10px;
        font-size: 1em;
        font-weight: bold;
        color: @fontColor2;
      }
      .title {
        font-size: 1.1em;
      }
      .time {
        text-align: right;
      }
      .info, .title, .time, .professor, .location {
        margin-bottom: 3px;
      }
    }
  }
  #mobile_setting {
    h3 {
      font-size: 1.4em;
      font-weight: bold;
      color: #757575;
    }
    p {
      margin: 0px;
    }
    .row {
      display: flex;
      align-items: center;
    }
    a.btn {
      margin: 5px 0px;
      i {
        margin-right: 5px;
      }
    }
  }
}
